<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Novotek </span> <span>Blog</span></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
        recusandae, molestiae incidunt
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (123) 456 789
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:support@inovotek.com">
            support@inovotek.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>