<head>
  <link rel="stylesheet" href="https://unpkg.com/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/navbar.css" />
  <!-- Other styles and scripts -->
</head>
<body>
  <!-- nav -->
  <nav>
    <div class="logo-container">
      <a href="/">
        <img src="/images/icon.png" style="height: 42px; width: 125px;">
      </a>
      <!-- <div class="menu-toggle" id="menu-toggle">
        <i class="bx bx-menu"></i>
      </div> -->
    </div>
    <ul id="nav-menu">
      <% if(userAuth) { %>
        <li><a href="/"><i class="bx bx-home"></i> Home</a></li>
        <li><a href="/api/v1/users/profile-page"><i class="bx bx-user"></i> Profile</a></li>
        <li><a href="/#latest"><i class="bx bx-news"></i> Posts</a></li>
        <li><a href="/api/v1/posts/get-post-form" class="create-post-btn"><i class="bx bx-pencil"></i> New Post</a></li>
        <li><a href="/api/v1/users/logout" class="create-post-btn" style="background-color: #bc1c5c;"><i class="bx bx-log-out"></i> Logout</a></li>
      <% } else { %>
        <li><a href="/"><i class="bx bx-home"></i> Home</a></li>
        <li><a href="#"><i class="bx bx-news"></i> Posts</a></li>
        <li><a href="/api/v1/users/login"><i class="bx bx-log-in"></i> Login</a></li>
        <li><a href="/api/v1/users/register"><i class="bx bx-user-plus"></i> Register</a></li>
      <% } %>
    </ul>
  </nav>

  <script>
    const toggleButton = document.getElementById('menu-toggle');
    const navMenu = document.getElementById('nav-menu');

    toggleButton.addEventListener('click', () => {
      navMenu.classList.toggle('active');
    });
  </script>
</body>
