<link rel="stylesheet" href="/css/navbar.css" />
<!-- Fontawesome -->
<script
  src="https://kit.fontawesome.com/42a182743f.js"
  crossorigin="anonymous"
></script>
<!-- Google font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;500&display=swap"
  rel="stylesheet"
/>
<!-- nav -->
<nav>
  <div>
    <img src="/images/logo.png" alt="logo" />
  </div>

  <ul>
    <%if(userAuth){%>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/api/v1/users/profile-page">Profile</a>
    </li>

    <li>
      <a href="#">Posts</a>
    </li>
    <li>
      <a href="/api/v1/posts/get-post-form" class="create-post-btn">New Post</a>
    </li>
    <li>
      <a
        href="/api/v1/users/logout"
        style="background-color: red"
        class="create-post-btn"
        >Logout</a
      >
    </li>
    <%}else{%>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Posts</a>
    </li>
    <li>
      <a href="/api/v1/users/login">Login</a>
    </li>
    <li>
      <a href="/api/v1/users/register">Register</a>
    </li>
    <%}%>
  </ul>
</nav>
