:root {
  --primary-color: #14213d;
  --secondary-color: #007bff;
  --accent-color: #ff5a5f;
  --text-color: #333;
  --bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notAuthorize-wrapper {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notAuthorize-wrapper img {
  height: 250px;
  margin-bottom: 20px;
}

.notAuthorize-wrapper h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.notAuthorize-wrapper p {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.notAuthorize-wrapper a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.notAuthorize-wrapper a:hover {
  background: var(--text-color);
  color: #fff;
}
