* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

.form-container {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin: 7% auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  text-align: center;
  margin: 10px;
  font-size: 1.6rem;
}

.form-container input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  margin-bottom: 20px;
}

.form-container select {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.form-container textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.form-container input[type="submit"] {
  background: #333;
  color: #fff;
  cursor: pointer;
}

.form-container button {
  color: #fff;
  cursor: pointer;
  background: #023047;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;

  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 20px;
}

.form-container button:hover {
  background: #fb8500;
  transform: scale(1.05);

  transition: 0.5s;
}

.form-container button:active {
  background: #023047;
  transform: scale(1);
}

.form-container a {
  color: #333;
  text-decoration: none;
}

.no-account-link {
  text-align: center;
  margin-top: 20px;
  color: indigo;
}

.form-container .fa-user {
  color: #333;
  font-size: 40px;
  margin-right: 10px;
  text-align: center;
}
.input-wrapper {
  margin-bottom: 20px;
}
.form-container .error {
  color: red;
  font-size: 1rem;
}

.form-container .form-wrapper {
  width: 100%;
}
