:root {
  --primary-color: #14213d;
  --secondary-color: #007bff;
  --accent-color: #ff5a5f;
  --text-color: #333;
  --bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.form-container {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin: 7% auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  text-align: center;
  margin: 10px;
  font-size: 1.6rem;
  color: var(--primary-color);
}

.form-container input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  margin-bottom: 20px;
}

.form-container select,
.form-container textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.form-container textarea {
  height: 100px;
}

.form-container input[type="submit"] {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.form-container input[type="submit"]:hover {
  background: var(--secondary-color);
}

.form-container button {
  color: #fff;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 20px;
  transition: background 0.3s, transform 0.3s;
}

.form-container button:hover {
  background: #af1a56;
  transform: scale(1.05);
}

.form-container button:active {
  background: #a1174e;
  transform: scale(1);
}

.form-container a {
  color: var(--text-color);
  text-decoration: none;
}

.no-account-link {
  text-align: center;
  margin-top: 20px;
  color: indigo;
}

.form-container .fa-user {
  color: var(--text-color);
  font-size: 40px;
  margin-right: 10px;
  text-align: center;
}

.input-wrapper {
  margin-bottom: 20px;
}

.form-container .error {
  color: red;
  font-size: 1rem;
}

.form-container .form-wrapper {
  width: 100%;
}
