/* General Styles */
:root {
  --primary-color: #14213d;
  --secondary-color: #007bff;
  --accent-color: #ff5a5f;
  --text-color: #333;
  --bg-color: #f5f5f5;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row; /* Change to row for better alignment */
  justify-content: space-between; /* Adjust alignment */
  align-items: center;
  background-color: rgba(24, 29, 42, 0.8); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px 30px; /* Increased padding for tablet size */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
  padding: 9px 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
  border-radius: 4px;
}

nav ul li a:hover {
  color: #fff;
  transform: scale(1.05);
  text-shadow: 0 0 10px var(--accent-color),
               0 0 20px var(--accent-color),
               0 0 30px var(--accent-color),
               0 0 40px var(--accent-color),
               0 0 70px var(--accent-color),
               0 0 80px var(--accent-color),
               0 0 100px var(--accent-color),
               0 0 150px var(--accent-color);
}

nav ul li a i {
  margin-right: 8px;
}

/* Media Queries */
@media (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .logo-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 675px) and (max-width: 1024px) {
  nav {
    flex-direction: column;
    padding: 10px 15px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .logo-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 1025px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
  }

  nav ul li {
    margin: 0 10px;
  }

  .logo-container {
    margin-bottom: 0;
  }
}
