:root {
  --primary-color: #14213d;
  --secondary-color: #007bff;
  --accent-color: #ff5a5f;
  --text-color: #333;
  --bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-container header {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -50px;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img .fas {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: 20px;
  color: #fff;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.profile-img .fas:hover {
  background-color: #e04a4f;
}

.profile-container .icons-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20vh;
  margin-top: 20px;
  padding: 0 20px;
}

.profile-container .icons-container .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);
  font-size: 25px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.profile-container .icons-container .fas:hover {
  background-color: #e6e6e6;
}

.personal-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  width: 60%;
  max-width: 600px;
  padding: 40px;
  margin-top: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.personal-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.profile-container .details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 20px;
  font-size: 18px;
}

.details-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.details .fas {
  margin-right: 10px;
  color: var(--accent-color);
}
