/* Browser Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  background: #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

.form-container {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin: 7% auto;
  padding: 30px;
  border-radius: 8px; /* Slightly increased border-radius for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly larger shadow for better depth */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px; /* Increased margin for better spacing */
  font-size: 1.8rem; /* Increased font size for better readability */
  color: #333; /* Consistent text color */
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px; /* Unified margin for consistent spacing */
}

.form-container input[type="submit"] {
  background: #ab1a54;
  color: #fff;
  cursor: pointer;
  border: none; /* Removed border for a cleaner look */
  padding: 12px 20px; /* Added padding for better button appearance */
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s; /* Added transition for smoother hover effect */
}

.form-container input[type="submit"]:hover {
  background: #a11a50; /* Darker shade for hover state */
}

.form-container input[type="submit"]:active {
  background: #a81851; /* Darker shade for active state */
}

.form-container button {
  background: #bc1c5c;
  color: #fff;
  border: none; /* Consistent with submit button */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Larger shadow for consistency */
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding: 0 20px;
  transition: background-color 0.3s, transform 0.3s; /* Added transition for smoother hover effect */
}

.form-container button:hover {
  background: #a11a50; /* Darker shade for hover state */
  transform: scale(1.05);
}

.form-container button:active {
  background: #a81851; /* Darker shade for active state */
  transform: scale(1);
}

.form-container a {
  color: #9c154b;
  text-decoration: none;
}

.no-account-link {
  text-align: center;
  margin-top: 20px;
  color: #9f174d;
}

.form-container .fa-user {
  color: #991b4d;
  font-size: 40px;
  margin-right: 10px;
  text-align: center;
}

.input-wrapper {
  width: 100%; /* Ensures full width for input wrappers */
  margin-bottom: 20px;
}

.form-container .error {
  color: #bc1c5c;
  font-size: 1rem;
}

.form-container .form-wrapper {
  width: 100%; /* Ensures full width for form wrapper */
}
