<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/accessDenied.css" />
    <title>Not Authorize</title>
  </head>
  <body>
    <div class="notAuthorize-wrapper">
      <h1>Not Authorized</h1>
      <!-- not allow icon fontawesom -->

      <i class="fas fa-exclamation-circle"></i>
      <img src="/images/lock.png" alt="" />

      <p>You are not authorize to access this page</p>
      <a href="/">Go Back</a>
    </div>
  </body>
</html>
